<p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>

<a>Address:
    contact@innoactivegroup.com
    Tel: 1-925-334-4971
    ​
    San Francisco Office:
    401 Harrison Street
    Suite 15G
    San Francisco, CA 94105
    ​
    San Jose Office:
    1900 Camden Avenue
    San Jose, CA 95124
</a>