<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">

    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>
        <h2>Who we are:</h2>

        <h3>Our Story</h3>
        <strong>InnoActive Group was founded at the intersection of consulting and innovation. The AEC industry has
            many
            tried
            and true methods, but is also rapidly changing. InnoActive Group was formed to do just that - disrupt
            the
            industry
            and innovate by bringing together the best talent and practices.
        </strong>


        <h3>Our Approach</h3>
        <strong>We approach problems differently. We believe that people are the most valuable asset. This allows us
            to
            work
            closely with our partners and understand how to best deliver a solution. We combine diversity,
            integrity,
            and
            best
            practices to approach problems at a deeper level – and deliver the best.
        </strong>


        <h3>Our People</h3>
        <strong>InnoActive Group brings the most passionate experts from various industries. We obsess over how to
            make
            processes
            more efficient, debate over best practice, and constantly provide cutting edge solutions - because we
            want
            to.
        </strong>
        <%- include('../partials/footer'); %>
</body>
<footer>

</footer>

</html>