<!-- <!DOCTYPE html>
<html lang="en"> -->

<%- include('../partials/head') %>
    <!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers</title>
</head> -->

    <body>
        <%- include('../partials/header') %>
            <div>
                <div>
                    <h2>Careers:</h2>

                    <a>“InnoActive Group does not discriminate in employment on the basis of race, color, religion, sex
                        (including
                        pregnancy
                        and gender identity), national origin, political affiliation, sexual orientation, marital
                        status,
                        disability,
                        genetic information, age, membership in an employee organization, retaliation, parental status,
                        military
                        service, or
                        other non-merit factor.”
                    </a>
                </div>

                <div>
                    <h4>Currently hiring:</h4>
                    <h4>Cost Engineer (San Francisco)</h4>
                    <h4>PMIS Consultants (Remote)</h4>
                    <a>Email your resume to contact@innoactivegroup.com
                    </a>

                    <a>Please fill your contact details below:</a>

                    <form>
                        <area class="Name" ,>

                    </form>
                </div>
            </div>
            <%- include('../partials/footer') %>
    </body>

    </html>