<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnoActive Group</title>
    <href src=""></href>
</head> -->
<%- include('../partials/head') %>

    <body>

        <nav>
            <span></span>
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Services</li>
                <li>Careers</li>
            </ul>
        </nav>

        <header>
            <h1>InnoActive Group</h1>
            <p>InnoActive Group was founded at the intersection of consulting and innovation. The AEC industry has many
                tried
                and true methods, but is also rapidly changing. InnoActive Group was formed to do just that - disrupt
                the
                industry
                and innovate by bringing together the best talent and practices.
            </p>
            <button>Test Button</button>
        </header>

        <main>
            <section>
                <article>
                    <img src="https://picsum.photos/200/300" alt="">
                    <h3>Post 1</h3>
                    <p>This is decription for card one</p>
                    <button>Read Me!</button>
                </article>
                <article>
                    <img src="https://picsum.photos/200/300" alt="">
                    <h3>Post 2</h3>
                    <p>This is decription for card one</p>
                    <button>Read Me!</button>
                </article>
                <article>
                    <img src="https://picsum.photos/200/300" alt="">
                    <h3>Post 3</h3>
                    <p>This is decription for card one</p>
                    <button>Read Me!</button>
                </article>
            </section>
            <section>

            </section>
        </main>
        <%- include('../partials/footer') %>


    </body>


    </html>